*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    background-color: darkgray;
    height: 50px;
    width: 100%;
    position: fixed;
}
label{
    color: deeppink;
    font-size: 35px;
    line-height: 50px;
    padding: 0 100px;
    font-family: cursive;
    font-weight: bold;
}
nav ul{
       float: right;
       margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 50px;
}
a{
    color: brown;
}
#first{
    color: deeppink;
}
h3{
    padding: 30px;
    color: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ptag{
    padding: 20px;
    font-size: 40px;
    color: deeppink;
}
p{
    padding: 20px;
    color: dimgrey;
}
#techname{
    color: gray ;
}
body{
    background-color: lightgray;
}
#name{
    color: deeppink;
}
div{
    display:block;
}
#pic{
    float: right;
        margin: 0 50px;
        padding: 0 50px; 
        margin-top: 40px;
    }
div{
    background-color: darkslategray;
    height: 200px;
}
.container {
  margin:  90px;
  display: inline-block;
  max-height: 50px;
  width: 0px;
  margin-right: 170px;
  margin-left: 150px;
  color: white;
}
